/* carosel */
.outer-in-carosel-content{
    padding-left: 120px;
    padding-top: 50px;
    width: 50%;
    height: 80vh;
}
.inner-in-carosel-content{
    height: 65vh;
    width: 70%;
}
.outer-in-carosel-image{
    width: 50%;
    padding-left: 10px;
    padding-top: 50px;
}
.inner-in-carosel-image{
    height: 75vh;
    width: 80%;
}
.img-design {
    width: 100%;
    height: 100%;
    object-fit:fill; 
}
.caroselimage{
    height: 80vh;
}
.left-control, .right-control {
  position: absolute;
  top: 50%;
  color: white;
  background-color: black;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdown_menu{
    z-index: 1000;
}

.left-control {
  left: 10px;
}

.right-control {
  right: 10px;
}

.carousel .inner-in-carosel-content button{
    color: white;
}
 
.carousel p{
    text-align: justify;
}



/* media quaries */
@media (max-width:768px){
   
    .logo-widget {
        text-align: center;
        margin-bottom: 29px;
    }
    .smallsc{
        display: none;
    }
    .outer-in-carosel-content{
      padding-left: 0px;
      overflow: auto;
    }
    .outer-in-carosel-image{
      padding-right: 0px;
    }
    .carousel{
        margin-top: 150px;
     }

     .place_inner{
        padding: 50px;
        margin: 0px;
        text-align: center;
    }

    .place_inner svg{
        display: none;
    }
    .but{
        display: none;
    }
    .smallsc{
        display: none;
    }
     

}
  button a{
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }

  @media (max-width:480px)
  {
    .c2{
        display: none;
    }
    
   

      .locandnum{
          display:none;
      }
      .outer-in-carosel-content{
        display: none;
      }
      .outer-in-carosel-image{
        width: 100%;
      }
      .inner-in-carosel-image{
        width: 100%;
        height: 50vh;
    
      }
      .caroselimage{
        height: 50vh;
        margin-top: 50px;
      }
      .carousel{
        margin-top: 50px;
     }
     .place_inner{
        margin: 50px;
        padding: 50px;
    }
    .place_inner svg{
        display: none;
    }
    .place_inner svg{
        display: none;
    }
    .place_otter h3{
        padding-top: 20px;
    }

  }
  
  @media (min-width:1080px)
  {
    

     .smallsc{
        display: none;
     }
     .carousel{
        margin-top: 150px;
     }
  } 




@media (min-width:1440px)
{
 
 
   .smallsc{
      display: none;
   }
   .carousel{
      margin-top: 150px;
   }
}





.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-menu a:hover {
    background-color:#E51E1E;
    color: white;
}

/* Active menu item styles */
.dropdown-menu a.active {
    background-color: #4CAF50;
    color:white;
}


@media (min-width:1024px)
  {
   
     .smallsc{
        display: none;
     }
     .carousel{
        margin-top: 150px;
     }
    
  } 


 

 /* facilities */
 .facility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  height: 170px;
  text-align: center;
  position: relative;
  opacity: 0.7;
}
.facility:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  opacity: 1;
}
.overlay-facility {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: #f2f2f2;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.facility:hover .overlay-facility {
  height: 100%;
}
.facility img {
  width: 60px;
  height: 60px;
}
.facili-one .facility h6 {
  margin-top: 15px;
  color: #2272ad;
}
.facility-rt-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.facility-rt-img{
background-color: #00a3c8;
}
.facility-rt-img h4 {
color: #222;
  letter-spacing: -0.25px;
}
.facility-rt-img h3 {
  font-weight: 700;
  letter-spacing: -0.25px;
}


/* departments */
#department_sec a{
  text-decoration:none;
  }	
  .wide-70 {
      padding-top: 100px;
      padding-bottom: 20px;
  }
  .department-title {
      text-align: center;
      margin-bottom: 20px;
      color: #2272ad;
  }
  .department-title h3.h3-md {
      line-height: 1;
      margin-bottom: 20px;
  }
  .depinfo {
      text-align: center;
      margin-bottom: 30px;
      background-color: #dd3333;
      border: 1px solid #ccc;
      padding: 40px 10px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .depinfo a {
      color: #333;
      text-decoration: none;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
  }
  .depinfo-icon {
      color: #00a3c8;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .depinfo h5 {
      letter-spacing: -0.5px;
      margin-top: 25px;
      margin-bottom: 0;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      color: #fff;
      letter-spacing: 1px;
  }
  
  .depinfo h5.h5-sm {
      font-size: 1.1875rem;
  }
  .depinfo:hover{
      -webkit-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      background-color: #2272ad;
  }
  .depinfo:hover .depinfo-icon {
      color: #fff;
  }
  
  .depinfo:hover .depinfo-icon {
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 55px, 0);
  }
  .depinfo:hover h5.depinfo-title {
      -webkit-transform: translate3d(0, -110px, 0);
      transform: translate3d(0, -110px, 0);
      color: #fff;
  }
  
  @media only screen and (min-width: 580px){
  .depinfo {
      padding: 29px 10px;
  }
  }
  